.DS_Store
.env
.idea
.vagrant
Homestead.json
Homestead.yaml

/node_modules
/vendor

/public/languages
/public/upgrade
/public/uploads/.cache/*
/public/uploads/
/public/plugins/
!plugins/index.php
/public/wflogs/
/public/wordpress/
/public/.user.ini

npm-debug.log
package-lock.json
Vagrantfile
composer.lock
